<div class="frame76">
  <label class="visually-hidden">
    Email
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { class: 'body', autocomplete: 'email', placeholder: 'Email' } %>
  </label>

  <label class="visually-hidden">
    Password
    <%= f.input :password,
                required: false,
                input_html: { class: 'body', autocomplete: 'current-password', placeholder: 'Password' } %>
  </label>

  <% if devise_mapping.rememberable? %>
    <div class="visually-hidden">
      <%= f.input :remember_me,
                  as: :boolean,
                  label: 'Remember me',
                  input_html: { class: 'visually-hidden' } %>
    </div>
  <% end %>
</div>

<div class="frame75">
  <%= f.button :submit, "Log in", class: 'button-large fixedlayout primary' %>
</div>
