<div class="landing-page">
<%= image_tag "donkey.png", class: "logo-home" %>
  <div class="egg">
    <%= image_tag "catalan_logo.png", class: "catalan-logo" %>
    <%= image_tag "donkey.png", class: "donkey-logo" %>
    <div class="Landing-page-message">
      <h1>Start Your Journey</h1>
    </div>
    <a href="/users/sign_in" class="btn-login">Log In</a>
    <a href="" class="btn-signup">Sign Up</a>
  </div>
